.new-bet {
  background-color: white;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 3px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.1);
}

#bet_score1bet {
  width: 80px !important;
  margin: 0 20px !important;
}

#bet_score2bet {
  width: 80px !important;
  margin: 0 20px !important;
}
