.next_four_games {
  padding-top: 30px;
}


.your-bet {
  display: block;
  width: 378px;
}


.your-index-bet2 {
    color: rgba(255, 255, 255, 0.9);
    font-weight: lighter;
    position: absolute;
    top: 5px;
    left: 10px;
}
