<% if @user.pseudo %>
  <h1><%= @user.pseudo %></h1>
<% else %>
  <h1><%= @user.email %></h1>
<% end %>


<%= link_to 'Edit my profile', edit_user_path(@user), class: 'btn btn-success' %>
<%= link_to 'Delete my profile', user_path(@user), method: :delete, class: 'btn btn-danger' %>
