

<div class="container">
  <h1>All games</h1>

  <% @games.each do |game| %>

    <%= link_to game_path(game) do  %>
      <div>
        <p><%= "#{game.team1} - #{game.team2}" %></p>
        <% if game.score1 && game.score2 %>
          <p><%= "#{game.score1} - #{game.score2}" %></p>
        <% else %>
          <p>No score yet</p>
        <% end %>
      </div>
    <% end %>

  <% end %>
</div>
