
<div class="container">
  <h1> Classement mis en ligne après le premier match </h1>

  <p>Tu retrouveras également bientôt ici l'ensemble des paris de ton groupe pour tous les matchs ainsi que le classement par rapport aux membres de ce dernier! </p>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
