
<div class="container">
  <h1> CLASSEMENT MIS EN LIGNE APRES LE PREMIER MATCH </h1>

  <p>Tu retrouveras également bientôt ici l'ensemble des paris de ton groupe pour tous les matchs</p>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
