<div class="container">
  <h1>Tu n'as pas encore de groupe !</h1>



  <p>Si tu veux comparer tes paris à ceux de tes potes, go sur ton profil, section 'Edit' pour rejoindre un groupe !!! Tu pourras également avoir accès à ton classement par rapport aux autres joueurs de ton groupe. <br>
  Profites-en aussi pour changer ou ajouter ton pseudo si ce n'est pas déjà fait pour bien peser dans le game</p>
</div>



<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

