.match-card {
  margin-bottom: 30px;
  padding: 10px;
  height: 200px;
  position: relative;
  background-image: linear-gradient(-225deg, rgba(0,50,100,0.5) 0%, rgba(0,36,50,0.5) 50%),
                    asset-url('image-game-show-banner.jpg');
  background-size: cover;
  box-shadow: 1px 1px 2px black;
  a {
    color: white;
  }
}

.match-card:hover {
  background-image: linear-gradient(-225deg, rgba(0,50,100,0.3) 0%, rgba(0,36,50,0.3) 50%),
                    asset-url('image-game-show-banner.jpg');
}

.admin-games-links {
  height: 20px;
  position: absolute;
  bottom: 0px;
  a {
    margin: 0px;
  }
}

.your-index-bet {
  color: rgba(260,260,260,0.9);
  font-weight: lighter;
  position: absolute;
  bottom: -5px;
  right: 10px;
}

.central-game-info {
  width: 100%;
  position: absolute;
  top: 20px;
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  p {
    margin: 0px;
    color: white;
    font-weight: bolder;
  }
}

.home-team-lg {
  width: 100px;
  img {
    width: 60px;
  }
}

.ext-team-lg {
  width: 100px;
  img {
    width: 60px;
  }
}


.final-score {
  height: 85px;
  width: 100px;
  display: flex;
  align-items: center;
  margin-bottom: -5px;
  .final-score-dom {
    color: black;
    font-weight: bolder;
    height: 50px;
    background-color: white;
    flex: 1 1 85px;
    margin-right: 0.5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .final-score-ext {
    height: 50px;
    color: black;
    font-weight: bolder;
    background-color: white;
    flex: 1 1 85px;
    margin-left: 0.5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}

.colored-underline {
  height: 22px;
  background-color: #5DB498;
  position: relative;
  top: -34px;
  z-index: -100;
  opacity: 0.8;
  width: 214px;
}

.colored-underline2 {
    height: 16px;
    background-color: #5DB498;
    position: relative;
    top: -35px;
    z-index: -100;
    opacity: 0.8;
    width: 402px;
}
