.navbar-rocket-bet {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  a {
    color: black;
    font-weight: lighter;
  }
}

.navbar-leftpart {
  margin-left: 20px;
}



.navbar-rightpart {
  margin-right: 20px;
  display: flex;
  align-items: center;
  p {
    margin-left: 10px;
    margin-bottom: 0px;
  }
  a {
    margin-left: 10px;
  }
}

